/* CSS Document */
body {
    background-color: black;
}
h1 {
    color: gold;
    text-shadow: 2px 2px #ff0000;
}
img {
    width: 700px;
    height: auto;
    border: 20px solid gold;
    padding: 5px;
}
li {
    color: gold;
    font-size: 30px;
}
a:link {
    text-decoration: none;
}
a:hover
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}
# CompSci4Life.github.io
# CompSci4Life.github.io
